@import "tailwindcss";

body {
  /* background: #5416b5; */
  background: #1e1a1a;
  color: white;
  /* Prevent zoom out behaviors */
  touch-action: pan-x pan-y pinch-zoom;
  user-select: text;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  /* Prevent minimum scale zoom out */
  min-zoom: 1.0;
  -webkit-min-zoom: 1.0;
  -moz-min-zoom: 1.0;
  -ms-min-zoom: 1.0;
}

/* Prevent zoom out on mobile */
html {
  touch-action: pan-x pan-y pinch-zoom;
  -ms-touch-action: pan-x pan-y pinch-zoom;
  min-zoom: 1.0;
  -webkit-min-zoom: 1.0;
  -moz-min-zoom: 1.0;
  -ms-min-zoom: 1.0;
}

/* Allow normal interactions but prevent zoom out */
* {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  /* Prevent zoom out below 100% */
  min-zoom: 1.0;
  -webkit-min-zoom: 1.0;
  -moz-min-zoom: 1.0;
  -ms-min-zoom: 1.0;
}